<script>
    function DocumentoController($scope, $routeParams, $http, assetsService) {

        /*$http.get('/umbraco/growcreate/documento/getsitedetails')
        .then(function (response) {
            $scope.SiteDetails = response.data;            
        });*/

        $http.get('/umbraco/growcreate/documento/getdocs')
            .then(function (docs) {
                $scope.DocTypes = docs.data;
            });

        $scope.showGroup = function(group){
            $scope.showAll = false;
            $scope.show = $scope.show == group.Name ? '' : group.Name;
        }

    }

</script>
<style>
    .gc-repeated {
        background: #f8f8f8;
        border: 1px solid #d9d9d9;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        border-radius: 2px;
    }

    .gc-active {
        cursor: default;
    }

    .gc-repeated p {
        margin: 0;
    }

    .gc-repeated p i {
        margin-right: 5px;
    }

    .gc-repeated table {
        margin: 10px 0;
        font-size: 12px;
    }

    .gc-repeated a {
        display: block;
    }

    .gc a {
        text-decoration: none;
    }

    .gc .logo {
        max-height: 20px;
    }

</style>

<div ng-controller="DocumentoController" class="gc">
    <div>
        <h3>Documento</h3>
        <p>Use the tree on the left to manage content. Your installation is made of the Document types and Properties listed below.</p>
        <br />
        <label for="showAll">
            <span>Show all</span>
            <input type="checkbox" class="form-control" id="showAll" name="showAll" ng-model="showAll" no-dirty-check />
        </label>
    </div>

    <div class="row">
        <div ng-repeat="type in DocTypes" class="gc-repeated" ng-class="show == type.Name || showAll ? 'gc-active' : ''">
            <a ng-click="showGroup(type)">
                <i class="icon" ng-class="show == type.Name ? 'icon-navigation-down' : 'icon-navigation-right'"></i> <i class="{{ type.Icon }}"></i>
                {{ type.Name }} &mdash; {{ type.Description }}
                <span class="badge pull-right">{{ type.Count }}</span>
            </a>
            <table ng-if="(show == type.Name || showAll) && type.Properties.length" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prop in type.Properties">
                        <td>{{ prop.Name }}</td>
                        <td>{{ prop.Type }}</td>
                        <td>{{ prop.Description }}</td>
                    </tr>
                </tbody>
            </table>
            <p ng-if="(show == type || showAll) && !type.Properties.length"><br /><small>This document type has no properties.</small></p>
        </div>
    </div>
    <p><br /><a href="https://our.umbraco.org/projects/website-utilities/umbraco-7-editors-manual" target="_blank" class="btn"><i class="icon icon-download"></i> Download Umbraco 7 editor guide</a></p>
</div> 